.btn-primary{
  background: #0D78AA;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

body{
  color: #2a2a2a;
}

